# --- Módulo da Pessoa 1: Visão Computacional (Lari) ---
opencv-python>=4.9.0
numpy>=1.26.0

# --- Módulo da Pessoa 2: Back-end e Banco de Dados (Lu) ---
pwinput
# Nota: As bibliotecas 'sqlite3', 'json' e 'os' já vêm embutidas nativamente no Python.

# --- Módulo da Pessoa 3: Interface Gráfica / Front-end (Yas) ---
customtkinter
pillow>=10.0.0
# Nota: A biblioteca 'tkinter' já vem instalada com o Python no Windows.